<h1>Welcome to The Undertower!</h1>
<h2>A place to review books!</h2>
<%= form_for @user do |f|%>
    User Name:
    <%= f.text_field :name %><br>
    Email:
    <%= f.text_field :email %><br>
    Password:
    <%= f.password_field :password %><br>
    <%= f.submit "Register!" %>

<% end %>