<h1><%= @book.title %></h1>
<h2> By: <%= @book.author %> </h2>
<h3> Cover: <%= @book.image_url %> </h3>
<p><%= link_to "See All Reviews", review_path(@book) %></p>
<p><%= link_to "Add new Review", new_review_path(@book) %></p>
<h4>Reviews: </h4>
<% @book.reviews.each do |b|%>
<li><strong><%=b.user.name%></strong> says "<%=b.comment %>"</li>
<%end%>


