<h1>Write a new review!</h1>
  <%= form_for @review do |f|%>
  <div>
    Title!
    <br><%= f.text_field :title %><br>
    </div>
    <div>
    Write your review!
    <br><%= f.text_field :review %><br>
    </div>
    
    <br><p> Select a title that already exists!</p>
    <%= f.collection_select :book_id, Book.all, :id, :name %>
    <br><p> Create a new title! </p>
    <%= f.fields_for :book do |b| %>
    <%= b.label :title %>
     <%= b.text_field :title %>
     <% end %>

    

<br><%= f.submit "Submit!" %><br>
<% end %>