<h1>Write a new review!</h1>
  <%= form_for(@review) do |f|%>
  <div>
    Title!
    <%= f.label :stars %>
    <%= f.number_field :stars, min:0, max: 5 %>
    <br><%= f.text_field :title %><br>
    </div>
    <div>
    Write your review!
    <br><%= f.text_area :review %><br>
    </div>
    
    <br><p> Select a title that already exists!</p>
    <%= f.collection_select :book_id, Book.all, :id, :name %>
    <br><p> Create a new title! </p>
    <%= f.fields_for :book do |b| %>
    <%= f.label :title %>
     <%= f.hidden_field :book_id %>
     <% end %>

    

<br><%= f.submit "Submit!" %><br>
<% end %>