<% render partial: "layouts/errors", locals: {object: review} %>

<h1>Write a new review!</h1>
  <%= form_for(@review) do |f|%>
  <% if params[:book_id] %>
  <% f.hidden_field :book_id%>
  <% else %>
   <div>
   <%= f.label :book_id, "Pick a Title" %>
   <%= f.collection_select :book_id, Book.all, :id, :name %>
   </div>

  <div>
    <%= f.label :stars %>
    <%= f.number_field :stars, min:0, max: 6 %>
  </div>
  <br>
  <div>
    <p>Write your review!</p>
    <%= f.label :title %>
    <br><%= f.text_field :title %><br>
  </div>
   <br>
   <div>
   <% f.label :review %>
   <% f.text_area :review, size: "25x10" %>
 
  <br><%= f.submit "Submit!" %><br>
<% end %>