<!DOCTYPE html>
<html>
  <head>
    <title>TheUndertower</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
    <%= yield %>
    
    <footer> 
    <% if current_user %>
    <br>
    <%= link_to "Add a new review", new_review_path %>
    <br>
    <%= link_to "See all Books", new_books_path %>
    <br>
    <%= link_to "See all Reviews", reviews_path %>
    <br>
    <%= link_to "Logout!", logout_path, method: :post%>
    <br>
    <%else%>
    <%= link_to "Sign up!", signup_path %>
    <br>
    <%= link_to "Log In!", login_path%>
    <br>
    <%= link_to "Sign in with Facebook!", 'auth/facebook'%>
    <% end %>
    </footer>
  </body>
</html>
